<head th:fragment="_head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <link rel="stylesheet" th:href="@{../static/src/assets/vendors/mdi/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{../static/src/assets/vendors/ti-icons/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{../static/src/assets/vendors/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{../static/src/assets/vendors/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{../static/src/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css}">
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{../static/src/assets/css/style.css}">
    <!-- End layout styles -->
    <link rel="shortcut icon" th:href="@{../static/src/assets/images/favicon.png}"/>
    <style>
        .content-wrapper {
            margin-top: 35px;
        }
    </style>
</head>