<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{src/partials/_head :: _head}"></head>
<body>
<div class="container-scroller">
    <!--_navbar -->
    <div th:replace="~{src/partials/_navbar :: _navbar}">
    </div>
    <!-- _navbar -->
    <div class="container-fluid page-body-wrapper">
        <!--_sidebar-->
        <div th:replace="~{src/partials/_sidebar :: _sidebar}"></div>
        <!--_sidebar-->
        <div class="main-panel">
            <!-- header : phần này là ghi code listAll-->
            <div class="content-wrapper">

                <table class="table">
                    <thead>
                    <tr>
                        <th> ID</th>
                        <th> Khach Hang</th>
                        <th> Chi Tiet San Pham</th>
                        <th> Binh Luan</th>
                        <th> Danh Gia</th>
                        <th>Chức Năng</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="binhluan : ${bl}">
                        <td><span th:text="${binhluan.id}"> ID </span></td>
                        <td><span th:text="${binhluan.idKhachHang}"> Khach Hang </span></td>
                        <td><span th:text="${binhluan.idChiTietSanPham}"> Chi Tiet San Pham </span></td>
                        <td><span th:text="${binhluan.binhLuan}"> Binh Luan </span></td>
                        <td><span th:text="${binhluan.danhGia}"> Danh Gia </span></td>
                        <td><a class="btn btn-danger" href="BinhLuan.html"> Xem Chi Tiết </a></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!--footer-->
            <div th:replace="~{src/partials/_footer :: _footer}"></div>
            <!--footer-->
        </div>
    </div>
</div>
<!--script -->
<div th:replace="~{src/partials/_script :: _script}"></div>
</body>
</html>