<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{src/partials/_head :: _head}">

</head>

<body>
<div class="container-scroller">
    <!-- Navbar -->
    <div th:replace="~{src/partials/_navbar :: _navbar}"></div>

    <div class="container-fluid page-body-wrapper">
        <!-- Sidebar -->
        <div th:replace="~{src/partials/_sidebar :: _sidebar}"></div>

        <div class="main-panel">
            <div class="content-wrapper">
                <main class="container-fluid px-3 py-4">
                    <h3 class="fw-bold fs-4 mb-3">Danh Sách Bình Luận</h3>
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <!------------------------------------------------------------------------------------------>
                            <form action="#" th:action="@{/admin/binhluan}" method="get">
                                <label for="danhGia">Lọc theo đánh giá:</label>
                                <select name="danhGia" id="danhGia">
                                    <option value="" th:selected="${danhGia == null}">Tất cả</option>
                                    <option th:each="dg : ${danhGias}" th:value="${dg}" th:text="${dg}"
                                            th:selected="${dg == danhGia}"></option>
                                </select>

                                <label  for="startDate">Ngày bắt đầu:</label>
                                <input class="control" type="date" name="startDate" id="startDate" th:value="${startDate}">

                                <label for="endDate">Ngày kết thúc:</label>
                                <input  class="control" type="date" name="endDate" id="endDate" th:value="${endDate}">

                                <button type="submit">Lọc</button>
                            </form>


                            <!-------------------------------------------------------------------------------------------------------->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>ID Khách Hàng</th>
                                    <th>ID Chi Tiết Sản Phẩm</th>
                                    <th>Bình Luận</th>
                                    <th>Đánh Giá</th>
                                    <th>Ngày Bình Luận </th>
                                    <th>Chức Năng </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bl : ${bl}">
                                    <td th:text="${bl.id}"></td>
                                    <td th:text="${bl.khachHang.getHoTen()}"></td>
                                    <td th:text="${bl.sanPhamChiTiet.ma_SPCT}"></td>
                                    <td th:text="${bl.binhLuan}"></td>
                                    <td th:text="${bl.danhGia}"></td>
                                    <td th:text="${bl.ngayBinhLuan}"></td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <form th:action="@{/binhluan/delete}" method="post" style="display:inline;">
                                                <input type="hidden" name="id" th:value="${bl.id}" />
                                                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xóa bình luận  này không?')">
                                                    <i >Xóa</i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!----------------------------------------------------------------------------------->

                    <div class="row">
                        <div class="col-12 text-center">
                            <ul class="pagination justify-content-center">
                                <!-- Nút "Previous" -->
                                <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="${currentPage > 0} ? @{/admin/binhluan(danhGia=${danhGia}, page=${currentPage - 1})} : '#'"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>

                                <!-- Các số trang -->
                                <li class="page-item mx-1" th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                    th:classappend="${i == currentPage} ? 'active'">
                                    <a class="page-link" th:href="@{/admin/binhluan(danhGia=${danhGia}, page=${i})}"
                                       th:text="${i + 1}"></a>
                                </li>

                                <!-- Nút "Next" -->
                                <li class="page-item" th:classappend="${currentPage == totalPages - 1} ? 'disabled'">
                                    <a class="page-link"
                                       th:href="${currentPage < totalPages - 1} ? @{/admin/binhluan(danhGia=${danhGia}, page=${currentPage + 1})} : '#'"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </main>
            </div>

            <!------------------------------------------------------------- Footer -->
            <div th:replace="~{src/partials/_footer :: _footer}"></div>
        </div>
    </div>
</div>

<!-- Script -->
<div th:replace="~{src/partials/_script :: _script}"></div>
</body>
</html>
